.header {
  padding-block: clamp(12px, 1.67vw, 24px);
  background-color: transparent;
}

.header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
}

.header__inner__logo_nav {
  display: flex;
  align-items: center;
  gap: clamp(16px, 3vw, 130px);
}

.logo {
  font-weight: var(--fw-medium);
  font-size: var(--fs-20);
  line-height: 1.2;
  letter-spacing: -0.02em;
  color: var(--color-text-primary);
}

.logo__accent {
  font-weight: var(--fw-bold);
  color: var(--color-accent);
}

.logo__point {
  font-weight: var(--fw-regular);
}

.header-nav__list {
  display: flex;
  align-items: center;
  gap: clamp(12px, 2.77vw, 40px);
}

.header-nav__link {
  font-weight: var(--fw-medium);
  font-size: var(--fs-16);
  line-height: 1.25;
  letter-spacing: -0.01em;
  color: var(--color-text-primary);
  transition: color var(--transition-base);
}

.header-nav__link:hover,
.header-nav__link:focus {
  color: var(--color-accent);
}

.header-actions {
  display: flex;
  align-items: center;
  gap: 8px;
}

.btn {
  font-weight: var(--fw-regular);
  font-size: var(--fs-16);
  line-height: 1.25;
  letter-spacing: -0.01em;
  white-space: nowrap;
  border-radius: 30px;
  transition:
    background-color var(--transition-base),
    color var(--transition-base),
    border-color var(--transition-base);
}

.btn-secondary {
  border: 1px solid var(--color-border-btn);
  color: var(--color-text-primary);
  background-color: transparent;
  padding: clamp(12px, 1.67vw, 14px) clamp(24px, 2.7vw, 39px);
}

.btn-secondary:hover,
.btn-secondary:focus {
  border-color: var(--color-accent);
}

.btn-primary {
  background-color: var(--color-accent);
  color: var(--color-text-inverse);
  padding: clamp(12px, 1.67vw, 14px) clamp(28px, 2.8vw, 40px);
}

.btn-primary:hover,
.btn-primary:focus {
  background-color: var(--color-accent-hover);
}

@media screen and (max-width: 767px) {
  .header-nav {
    display: none;
  }
  .header-actions {
    display: none;
  }

  .header-nav__list {
    flex-direction: column;
  }

  .mobile-menu {
    display: flex;
    position: fixed;
    top: 0;
    right: 0;
    padding: 12px;
    height: 100%;
    background-color: var(--color-border-light);
    z-index: 98;
    transform: translateX(100%);
    transition: transform 0.3s ease;
    visibility: hidden;
    overflow: hidden;
  }

  .mobile-close {
    border-radius: 9999px;
  }

  .close-icon {
    width: 16px;
    height: 16px;
  }
}
