.header {
  height: 96px;
  padding: 24px 0;
}

.header__inner {
  display: flex;
  gap: clamp(40px, 23.9vw, 345px);
}

.header__inner__logo_nav {
  display: flex;
  gap: clamp(40px, 9.02vw, 130px);
  align-items: center;
}

.logo {
  font-weight: var(--fw-medium);
  color: var(--color-text-primary);
  font-size: var(--fs-20);
}
.logo__accent {
  font-weight: var(--fw-bold);
  font-size: var(--fs-20);
  line-height: 1.2;
  letter-spacing: -0.02em;
  color: var(--color-accent);
}

.logo__point {
  font-weight: var(--fw-regular);
}
.header-nav {
}
.header-nav__list {
  display: flex;
  gap: clamp(5px, 2.77vw, 40px);
  align-items: center;
}
.header-nav__item {
  font-weight: var(--fw-mini-regular);
  line-height: 1.25;
  letter-spacing: -0.01em;
  color: var(--color-text-primary);
}
.header-nav__link {
}
.header-actions {
  display: flex;
  align-items: center;
  gap: 8px;
}
.btn {
  font-weight: var(--fw-regular);
  line-height: 1.25;
  letter-spacing: -0.01em;
  white-space: nowrap;
}
.btn-secondary {
  border: 1px solid rgba(25, 26, 21, 0.2);
  border-radius: 30px;
  padding: 14px 39px;
  width: 124px;
  height: 48px;
}
.btn-primary {
  background: var(--color-accent);
  border-radius: 30px;
  padding: 14px 40px;
  width: 171px;
  height: 48px;
  color: var(--color-text-inverse);
}
