<header class="header" id="header">
  <div class="container">
    <div class="header__inner">
      <div class="header__inner__logo_nav">
        <a href="/" data-link class="logo">
          <span class="logo__accent">psychologists</span
          ><span class="logo__point">.</span>services
        </a>

        <!-- DESKTOP NAV -->
        <nav class="header-nav">
          <ul class="header-nav__list">
            <li class="header-nav__item">
              <a href="/" data-link class="header-nav__link">Home</a>
            </li>
            <li class="header-nav__item">
              <a href="/psychologists" data-link class="header-nav__link"
                >Psychologists</a
              >
            </li>
            <li class="header-nav__item">
              <a href="/favorites" data-link class="header-nav__link"
                >Favorites</a
              >
            </li>
          </ul>
        </nav>
      </div>

      <!-- DESKTOP ACTIONS -->
      <div class="header-actions">
        <button type="button" class="btn btn-secondary" data-modal-open="login">
          Log In
        </button>
        <button
          type="button"
          class="btn btn-primary"
          data-modal-open="register"
        >
          Registration
        </button>
      </div>

      <!-- BURGER -->
      <div class="menu-buttons">
        <button
          type="button"
          class="burger-menu"
          aria-label="Toggle menu"
          aria-expanded="false"
        >
          <svg class="burger-icon" aria-hidden="true">
            <use href="/sprite.svg#icon-menu"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>

  <!-- MOBILE DRAWER -->
  <div class="mobile-drawer" id="mobileDrawer" aria-hidden="true">
    <div class="drawer-head">
      <button type="button" class="mobile-close" aria-label="Close menu">
        <svg class="close-icon" aria-hidden="true">
          <use href="/sprite.svg#icon-close"></use>
        </svg>
      </button>
    </div>

    <nav class="header-nav header-nav--mobile">
      <ul class="header-nav__list">
        <li class="nav-item">
          <a href="/" data-link class="header-nav__link">Home</a>
        </li>
        <li class="nav-item">
          <a href="/psychologists" data-link class="header-nav__link"
            >Psychologists</a
          >
        </li>
      </ul>
    </nav>

    <div class="header-actions header-actions--mobile">
      <button type="button" class="btn btn-secondary" data-modal-open="login">
        Log In
      </button>
      <button type="button" class="btn btn-primary" data-modal-open="register">
        Registration
      </button>
      <a href="/" data-link class="logo drawer-logo">
        <span class="logo__accent">psychologists</span
        ><span class="logo__point">.</span>services
      </a>
    </div>
  </div>
</header>
