<header class="header" id="header">
  <div class="container">
    <div class="header__inner">
      <div class="header__inner__logo_nav">
        <a href="/" class="logo">
          <span class="logo__accent">psychologists</span
          ><span class="logo__point">.</span>services
        </a>
        <nav class="header-nav">
          <ul class="header-nav__list">
            <li class="header-nav__item">
              <a href="/" class="header-nav__link">Home</a>
            </li>
            <li class="header-nav__item">
              <a href="/psychologists" class="header-nav__link"
                >Psychologists</a
              >
            </li>
          </ul>
        </nav>
      </div>

      <div class="header-actions">
        <button type="button" class="btn btn-secondary">Log In</button>
        <button type="button" class="btn btn-primary">Registration</button>
      </div>
    </div>
  </div>
</header>
