<section class="hero" id="hero">
  <div class="container">
    <div class="hero__inner">
      <div class="hero__content">
        <h1 class="hero__title">
          The road to the <span class="hero__title__span">depths</span> of the
          human soul
        </h1>
        <p class="hero__text">
          We help you to reveal your potential, overcome challenges and find a
          guide in your own life with the help of our experienced psychologists.
        </p>
        <a href="/psychologists" class="hero__link"
          >Get started
          <svg class="ctaIcon" aria-hidden="true">
            <use href="/sprite.svg#icon-Arrow" />
          </svg>
        </a>
      </div>
      <img
        src="/image.jpg"
        srcset="/image@2x.jpg"
        alt="Psychologist during a consultation with a client"
        class="hero__image"
      />
      <img src="/block.png" alt="Rectangle" class="hero_sm_block_1" />
      <div class="hero__svg__block">
        <svg class="block__icon" aria-hidden="true">
          <use href="/sprite.svg#icon-solid_question" />
        </svg>
      </div>
      <div class="hero__badge">
        <div class="badge__box">
          <svg class="badge__icon" aria-hidden="true">
            <use href="/sprite.svg#icon-feCheck"></use>
          </svg>
        </div>
        <div class="badge__content">
          <span class="badge__label">Experienced psychologists</span>
          <span class="badge__value">15,000</span>
        </div>
      </div>
    </div>
  </div>
</section>
