<div class="modal-backdrop visually-hidden" data-modal="appointment">
    <div class="modal__appointment">
        <div class="modal__appointment__box">
            <button type="button" class="modal__close" data-modal-close>
                <svg class="modal__close__icon">
                    <use href="/sprite.svg#icon-close"></use>
                </svg>
            </button>

            <div class="modal__appointment__box__content">
                <h2 class="modal__appointment__title">
                    Make an appointment with a psychologists
                </h2>
                <p class="modal__appointment__text">
                    You are on the verge of changing your life for the better. Fill out
                    the short form below to book your personal appointment with a
                    professional psychologist. We guarantee confidentiality and respect
                    for your privacy.
                </p>
            </div>
            <div class="psychologists__img__box__modal">
                <img src="" alt="avatar" class="psychologists__img__modal" data-modal-avatar />
                <div class="psychologists__box__modal_cta">
                    <p class="psychologists__box__modal__text">Your psychologists</p>
                    <p class="post-title" data-modal-name></p>
                </div>
            </div>
            <form id="appointment-form" action="#" method="post" class="modal__appointment__form" novalidate>

                <label class="visually-hidden" for="name">Name</label>
                <input id="name" class="modal__appointment__input" type="text" name="name" placeholder="Name" autocomplete="name" required />


                <div class="modal__appointment__input__box">
                    <label class="visually-hidden" for="phone">Phone</label>
                    <input id="phone" class="modal__appointment__input__half" type="tel" name="phone" placeholder="+380" autocomplete="tel" required />

                    <label class="visually-hidden" for="time">Preferred time</label>
                    <input class="modal__appointment__input__half js-time" type="text" name="time" placeholder="Preferred time" required />
                </div>


                <label class="visually-hidden" for="email">Email</label>
                <input id="email" class="modal__appointment__input" type="email" name="email" placeholder="Email" autocomplete="email" required />


                <label class="visually-hidden" for="comment">Comment</label>
                <textarea id="comment" class="modal__appointment__textarea" name="message" placeholder="Comment" rows="4"></textarea>
            </form>
            <button form="appointment-form" type="submit" class="modal__appointment__btn">
                Send
            </button>
        </div>
    </div>
</div>
</div>
</div>